@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(247, 248, 243, 1);
  color: rgba(16, 8, 42, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.planets-header.is-open .planets-header-background {
  left: 0;
}
.planets-header-button-wrapper {
  margin-left: auto;
}
.planets-header-icon {
  display: none;
}

.planets-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.planets-navigation-list.is-open {
  right: 0;
}
.planets-header-icon-menu {
  display: block;
}

.planets-header-icon-button.is-open .planets-header-icon-menu {
  display: none;
}

.planets-header-icon-button.is-open .planets-header-icon-close {
  display: block;
}

.planets-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(16, 8, 42, 1);
}

.planets-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(16, 8, 42, 1);
}
.planets-header.is-open .planets-header-background {
  left: 0;
}
.planets-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planets-header-icon-menu {
  display: block;
}

.planets-header-icon-button.is-open .planets-header-icon-menu {
  display: none;
}

.planets-header-icon-button.is-open .planets-header-icon-close {
  display: block;
}

.planets-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.planets-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 607px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 140px 140px;
  gap: 8px;
  background: linear-gradient(180deg, #10082a 0%, #3b369a 100%);
}

.planets-navigation-list.is-open {
  right: 0;
}

.planets-navigation-link {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(247, 248, 243, 1);
  width: 210px;
  display: block;
  text-align: center;
  gap: 10px;
  padding: 10px 0;

  border-bottom: 4px solid transparent;
}
.planets-navigation-item-desk {
  font-family: Asap;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.planets-navigation-link:hover,
.planets-navigatioт-link:focus {
  text-decoration: none;
  border-bottom: 4px solid rgba(211, 115, 189, 1);
}

.planets-header.is-open {
  background-color: transparent;
}

.planets-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .planets-navigation-img {
    display: flex;
  }
  .planets-policy-terms-header-icon-menu {
    display: none;
  }

  .planets-header {
    width: 100%;
    height: 57px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .planets-header-background {
  }
  .planets-header-icon-button {
    display: none;
  }
  .planets-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .planets-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .planets-navigation-link {
    font-family: Asap;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    text-decoration: none;
  }

  .planets-navigation-link:hover,
  .planets-navigation-link:focus {
    color: #ffffff;
  }

  .planets-navigation-item-desk {
    display: none;
  }
}
.planets-home {
  width: 375px;
  height: 812px;
  padding: 148px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.planets-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planets-home-title {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  text-align: center;
  background: linear-gradient(180deg, #f7f8f3 41.5%, #d373bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px rgba(16, 8, 42, 1);
}

.planets-home-text {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(180deg, #d373bd 40%, #5e59bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px rgba(16, 8, 42, 1);
  padding: 40px 0 64px;
}
.planets-home-text-two {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(247, 248, 243, 1);
  -webkit-text-stroke: 2px rgba(16, 8, 42, 1);
  padding-bottom: 40px;
}
.planets-home-google-button-image {
  width: 286px;
  height: 78px;
}

.planets-home-google-button-link:hover .planets-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .planets-home {
    width: 1440px;
    height: 752px;
    padding: 158px 0px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .planets-home-title {
    font-weight: 700;
    font-size: 90px;
    line-height: 150%;
    letter-spacing: -4%;
    -webkit-text-stroke: 6px rgba(16, 8, 42, 1);
  }

  .planets-home-text {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    -webkit-text-stroke: 3px rgba(16, 8, 42, 1);
    padding: 0px 0 118px;
  }
  .planets-home-text-two {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    -webkit-text-stroke: 2px rgba(16, 8, 42, 1);
    padding-bottom: 16px;
  }
}
.planets-why {
  width: 375px;
  height: 1153px;
  margin: auto;
  padding: 64px 24px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_benefits_mob.png");
}

.planets-why-list {
  padding-top: 378px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.planets-why-item {
  padding: 12px 28px;
  border-radius: 16px;
  background: rgba(94, 89, 191, 1);
  border: 4px solid rgba(16, 8, 42, 1);
}

.planets-why-text-bold {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;

  color: rgba(247, 248, 243, 1);
  text-shadow: 0px 0px 1px rgba(16, 8, 42, 1) inset;
}

.planets-why-text {
  font-family: Asap;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -2%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .planets-why {
    width: 1440px;
    height: 790px;
    padding: 84px 168px 0;
    background-image: url("/img/2_benefits.png");
  }
  .planets-why-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 554px;
  }

  .planets-why-item {
    width: fit-content;
    padding: 16px 28px;
    border-radius: 16px;
    background: rgba(94, 89, 191, 1);
    border: 4px solid rgba(16, 8, 42, 1);
  }

  .planets-why-text-bold {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 24px;
  }

  .planets-why-text {
    font-family: Asap;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -2%;

    padding-top: 8px;
  }
}

.planets-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 971px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(247, 248, 243, 1);
  background-image: url("/img/3_gameDescription_mob.png");
}

.planets-about-title {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 3px rgba(16, 8, 42, 1);
  background: linear-gradient(180deg, #f7f8f3 20%, #d373bd 70%, #5e59bf 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.planets-about-text-bold {
  font-family: Asap Condensed;
  font-weight: 400;
  font-size: 32px;

  text-align: center;
  padding: 32px 0 289px;
}

.planets-about-text {
  font-family: Asap Condensed;
  font-weight: 400;
  font-size: 24px;

  text-align: center;
}
.planets-about-text-two {
  font-family: Asap Condensed;
  font-weight: 400;
  font-size: 32px;

  text-align: center;
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .planets-about {
    padding: 60px 148px 0 172px;
    width: 1440px;
    height: 664px;
    background-image: url("/img/3_gameDescription.png");
  }
  .planets-about-title {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
  .planets-about-text-bold {
    font-family: Asap Condensed;
    font-weight: 400;
    font-size: 32px;
    text-align: left;

    padding: 98px 0 40px;
  }

  .planets-about-text {
    font-family: Asap Condensed;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    width: 648px;
  }
  .planets-about-text-two {
    padding-top: 40px;
    font-family: Asap Condensed;
    font-weight: 400;
    font-size: 32px;
    text-align: left;
    width: 648px;
  }
}

.planets-characters {
  padding: 64px 21px;
  margin: auto;
  width: 375px;
  height: 1136px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_MainCharacters_mob.png");
}

.planets-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 368px;
  gap: 368px;
}

.planets-characters-text-bold {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.planets-characters-text {
  font-family: Asap Condensed;
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .planets-characters {
    padding: 84px 99px;
    width: 1440px;
    height: 719px;
    background-image: url("/img/6_MainCharacters.png");
  }
  .planets-characters-list {
    display: flex;
    flex-direction: row;
    padding: 360px 32px 0;
    gap: 160px;
    width: 872px;
    margin: auto;
  }

  .planets-characters-text-bold {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 32px;
  }

  .planets-characters-text {
    font-family: Asap Condensed;
    font-weight: 400;
    font-size: 24px;
    width: 333px;
    padding-top: 16px;
  }
}

.planets-reviews {
  width: 375px;
  height: 1158px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/7_reviews_mob.png");
}

.planets-reviews-list {
  padding-top: 308px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.planets-reviews-item {
  width: 343px;
  height: 132px;

  border-radius: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #59a8f1 0%, #9be1e7 100%);
}

.planets-reviews-text-bold {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;
}

.planets-reviews-text {
  font-family: Asap;
  font-weight: 400;
  font-size: 18px;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .planets-reviews {
    width: 1440px;
    height: 730px;
    padding: 60px 172px;
    background-image: url("/img/7_reviews.png");
    position: relative;
  }
  .planets-reviews-list {
    padding-top: 32px;
  }
  .planets-reviews-item {
    width: 280px;
    height: 152px;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    position: absolute;
    top: 208px;
    left: 231px;
  }
  .planets-reviews-item-two {
    top: 447px;
    left: 231px;
  }
  .planets-reviews-item-three {
    top: 138px;
    left: 580px;
  }
  .planets-reviews-item-four {
    top: 208px;
    left: 928px;
  }
  .planets-reviews-item-five {
    top: 447px;
    left: 928px;
  }
  .planets-reviews-text-bold {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 24px;
  }

  .planets-reviews-text {
    font-family: Asap;
    font-weight: 400;
    font-size: 18px;
  }
}

.planets-gallery {
  width: 375px;
  background: rgba(247, 248, 243, 1);

  margin: auto;
  padding: 40px 16px;
}

.planets-gallery-list {
  padding: 32px 0 24px;
}

.planets-gallery-item {
  width: 299px;
  height: 532px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.planets-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 40px;
  height: 16px;
  border-radius: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/gallery/Rectangle\ 39\ \(2\).png") no-repeat
    center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/gallery/Rectangle\ 39\ \(1\).png") no-repeat
    center/cover;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .planets-gallery {
    width: 1440px;
    padding: 60px 148px;
    background-image: url("/img");
  }

  .planets-gallery-item {
    width: 338px;
    height: 600px;
    margin: 0 10px;
  }

  .planets-gallery-list {
    padding: 40px 0 0px;
  }
  .slick-dots li {
    display: none;
  }

  .slick-prev:before {
    content: url("/img/gallery/arrow_left.png");
    display: flex;
    margin-left: -80px;
    position: relative;
    z-index: 2;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/arrow_right.png");
    display: flex;
    margin-left: 24px;
  }
}

.planets-features {
  width: 375px;
  margin: auto;
  background: rgba(16, 8, 42, 1);

  padding: 40px 16px;
}

.planets-features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.planets-features-item {
  width: 343px;
  height: 120px;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: rgba(155, 225, 231, 1);
}
.planets-features-item-two {
  background: rgba(114, 110, 192, 1);
}
.planets-features-item-three {
  background: rgba(211, 115, 189, 1);
}
.planets-features-item-four {
  background: rgba(100, 171, 99, 1);
}
.planets-features-item-five {
  background: rgba(89, 168, 241, 1);
}
.planets-features-item-six {
  background: rgba(229, 205, 174, 1);
}
.planets-features-item-seven {
  background: rgba(210, 131, 71, 1);
}
.planets-features-text-bold {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;
}

.planets-features-text {
  font-family: Asap;
  font-weight: 400;
  font-size: 18px;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .planets-features {
    width: 1440px;
    padding: 60px 134px;
  }
  .planets-features-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 1077px;
    margin: auto;
  }

  .planets-features-item-one {
    margin-left: 183px;
  }

  .planets-features-item-six {
    margin-left: 183px;
  }

  .planets-features-text-bold {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 24px;
  }

  .planets-features-text {
    font-family: Asap;
    font-weight: 400;
    font-size: 18px;
    padding-top: 16px;
  }
}

.planets-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Asap;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
}

.planets-policy-terms-title {
  text-transform: uppercase;
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(180deg, #f7f8f3 20%, #d373bd 70%, #5e59bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px rgba(16, 8, 42, 1);
}

.planets-policy-terms-text {
  padding-top: 20px;
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(247, 248, 243, 1);
  -webkit-text-stroke: 2px rgba(16, 8, 42, 1);
}

.planets-policy-terms-texts {
  padding-top: 8px;
}

.planets-policy-terms-text-one {
  padding-top: 20px;
}

.planets-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.planets-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.planets-email-link {
  color: inherit;
  text-decoration: none;
}

.planets-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .planets-policy-terms-container {
    padding: 100px 172px 80px;
    width: 1440px;
    font-family: Asap;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
  }

  .planets-policy-terms-title {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .planets-policy-terms-text {
    padding-top: 40px;
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .planets-policy-terms-text-one {
    padding-top: 30px;
  }

  .planets-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.planets-footer {
  width: 375px;
  background: linear-gradient(180deg, #10082a 0%, #5e59bf 100%);

  margin: auto;
  color: #ffffff;
  padding: 40px 0px;
}

.planets-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.planets-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.planets-footer-text {
  font-family: Asap Condensed;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.planets-footer-copyright {
  font-family: Asap;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
}

@media screen and (min-width: 1200px) {
  .planets-footer {
    width: 1440px;
    padding: 60px 0px;
  }

  .planets-footer-container {
    display: flex;

    gap: 40px;
  }

  .planets-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .planets-footer-text {
    font-family: Asap Condensed;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .planets-footer-copyright {
    font-family: Asap;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
  }
}

.planets-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(16, 8, 42, 1);

  z-index: 1000;
  display: none;
}

.planets-cookie-popup-text-two {
  font-family: Asap Condensed;
  font-weight: 400;
  font-size: 24px;

  text-align: center;

  color: rgba(247, 248, 243, 1);
}

.planets-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.planets-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(211, 115, 189, 1);
  width: 161px;
  padding: 10px 0;
  font-family: Asap;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(247, 248, 243, 1);
  text-align: center;
}

#accept-cookies {
  background: rgba(211, 115, 189, 1);
  color: rgba(16, 8, 42, 1);
  border-radius: 12px;
}

.planets-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .planets-cookie-popup-text-two {
    font-family: Asap Condensed;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
  }

  .planets-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .planets-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
